.media-list {
  background-color: #333;
  display: inline-block;
  text-align: left;
  width: 100%;
}
ul {
  padding: 20px 20px 0;
  height: 450px;
  overflow-y: auto;

  list-style: none;
}
.media {
  display: block;
  padding: 5px 0px 0px 0px;
  width: 100%;
  border-bottom: 1px dotted #555;
  color: #fff;
}
.media:hover {
  transform: scale(1.05);
  transition: transform ease 0.3s;
  cursor: pointer;
}

.media::after {
  clear: both;
  content: "";
  display: table;
}

.media__img,
.media__img-reverse {
  float: left;
  display: block;
  margin-right: 10px;
}

.media__img > img,
.media__img-reverse > img {
  background-color: #fff;
  border-radius: 50%;
  height: 60px;
}

.media__img-reverse {
  float: right;
}

.media__body {
  overflow: hidden;
  margin-bottom: 0;
}

#buscador_amigo {
  background-color: #a6a6a6;
  background-size: 24px;
  width: 100%;
  border: transparent;
  padding: 10px 10px 10px 30px;
  outline: none;
}
.mensaje {
  text-align: center;
  color: #222;
  background-color: #fff3cd;
  padding: 7px;
  font-weight: 700;
}
